.ant-input-number-input {
  text-align: right;
  padding-right: 22px + 5px;
}

.table th, .table td {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.table-hover-info.table-hover tbody tr:hover {
  background-color: rgba($cyan, .2);
}

.width {
  &--xs {
    width: 1rem;
  }
}